#contenedor-registro{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#formulario-principal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: auto;
  min-height: 60%;
  border-radius: 15px;
  border: solid;
  background-color: rgb(224, 224, 224);
  border-color: rgb(101, 96, 96);
  padding: 20px;
}

#seccion-login{
  display: flex;
  justify-content: center;
  height: 20%;
  gap: 5px;
  align-items: center;
  width: 80%;
}

#seccion-login p{
  width:50%;
  margin: 0; 
  padding: 0; 
  justify-content:end;
  text-align: center;
  font-size: 18px;
}

#seccion-login button{
  margin: 0;  
  padding: 0; 
  width: 50%;
  align-content: center;
  justify-content: start;
  text-align: start;
  font-size: 18px;
  color: rgb(3, 141, 134);
}

.btn-secundario{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 30%;
  border-radius: 15px;
  border: none;
  font-size: 15px;
  background-color: transparent;
  border-color: rgb(101, 96, 96);
}

.campo-texto{
  width:70%;
  height: 40%;
  border-radius: 10px;
  border: solid;
  border-color: rgb(101, 96, 96);
  text-align: left;  
  padding: 2%;
}

#btn-registrar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 8%;
  border-radius: 15px;
  border: solid;
  border-color: rgb(101, 96, 96);
  font-size: 15px;
  background-color: rgb(3, 141, 134);
  color: white;
}

.fila-campo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.fila-campo p{
  width:70%;
  align-content: start;
  justify-content: start;
  margin-bottom: 8px;
}

.fila-campo input{
  align-content: end;
  justify-content: end;
}

.etiqueta{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 35%;
}